custom.css
<TEXT>

/* GLOBAL STYLES */
body {
  background: black;
  padding-top: 5em;
  display: flex;
  justify-content: center;
}

/* DEMO-SPECIFIC STYLES */
.typemia p {
  color: #7FFFD4;
  font-family: monospace;
  font-size: 18px;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15em;
  animation:
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

.button {
  background-color: #F5F5F5;
  border-style: double;
  border-radius: 8px;
  border-color: #696969;
  color: black;
  padding: 8px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
