custom.css
<TEXT>

/* Dialogues */
#chat-title {
position:relative;
top:8vh;
left:50%;
margin-right: -50%;
transform: translate(-50%, -50%);
line-height: 2;
font-size: 4vw;
color: #33FFC1;
text-align:center;
}

#chat-fr {
position: relative;
top:8vh;
left:5vw;
line-height: 1.5;
font-size: 3vmin;
color: #33FFC1;
text-align: left;
margin-right: 30%;
}

#chat-re {
position: relative;
top:8vh;
right:5vw;
line-height: 1.5;
font-size: 3vmin;
color: white;
text-align: right;
margin-left:30%;
}

/*button style */
.button {
  background-color: #F5F5F5;
  border-style: double;
  border-radius: 8px;
  border-color: #696969;
  color: black;
  padding: 4px 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 2px;
  cursor: pointer;
}

#reply {
  background-color: black;
  border-style: solid;
  border-radius: 8px;
  border-color: white;
  color: white;
  padding: 8px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 2px;
  cursor: pointer;
  position:fixed;
  top:60px;
  right:20px;
}

#login {
  background-color: black;
  border-style: solid;
  border-radius: 8px;
  border-color: white;
  color: white;
  padding: 8px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 2px;
  cursor: pointer;
  position:fixed;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

/* texts */
#monograph {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  line-height: 2;
  font-size: 3vmin;
  color: white;
  font-style: italic;
  text-align: center;
}

#video-sub {
  position: fixed;
  bottom:0px;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  line-height: 2;
  font-size: 3vmin;
  color: white;
  font-style: italic;
  text-align: center;
}
